<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- propertie -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/contest</property>
		<property name="hibernate.default_catalog">contest</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">sherry</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- c3p0 settings -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1000</property>
		<property name="hibernate.c3p0.max_statements">30</property>
		
		<!--default query cache settings -->
		<property name="hibernate.cache.use_query_cache">false</property>
		
		<!-- default second-level-cache settings -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_structured_entries">false</property>
		
		<!-- show_sql settings -->
		<property name="show_sql">false</property>
		
		<!-- mapping files -->
		<mapping resource="com/jsu/hibernate/domains/Code.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Contest.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Genre.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Grade.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/LoginLog.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Problem.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Result.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Solution.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/Statistics.hbm.xml" />
		<mapping resource="com/jsu/hibernate/domains/User.hbm.xml" />



	</session-factory>
</hibernate-configuration>